.header {
  background: var(--white);
  padding: 25px 0 77px;
}
.header__heading {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 0;
  margin-top: 40px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .header__heading {
    font-size: 28px;
    line-height: 38px;
  }
}

@media screen and (max-width: 550px) {
  .header__container {
    justify-content: center;
  }

  .header {
    padding: 17px 0 69px;
  }
}

