/* Стилизация кнопки */
.button {
  width: 189px;
  height: 48px;
  border-radius: 8px;
  border: none;
  color: var(--white);
  cursor: pointer;
}

/*модификаторы*/
.button_primary {
  background-color: var(--blue);
}

.button:hover {
  background-color: #2342c0;
}

.button_secondary {
  background-color: var(--purple);
}

.button_secondary:hover {
  background-color: #5028c6;
}

.button_alternate {
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  color: var(--grey-4);
}

.button_alternate:hover {
  background-color: var(--white);
  border: 1px solid var(--black);
  color: var(--grey-4);
}

.button_disabled {
  opacity: 50%;
}
