.avatar {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar_middle {
  width: var(--avatarMiddle);
  height: var(--avatarMiddle);
}

.avatar_small {
  width: var(--avatarSmall);
  height: var(--avatarSmall);
}
