.tooltip {
  position: relative;
}

.tooltip__trigger {
  color: var(--black);
  cursor: pointer;
}

.tooltip__help {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--grey-2);
  white-space: nowrap;

  padding: 13px 21px 8px;
  background: var(--blue);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 15px);
  display: none;
}

.tooltip__help:before {
  content: '';
  top: 0;
  border: 10px solid transparent;
  border-bottom: 8px solid var(--blue);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}

.tooltip__trigger:hover ~ .tooltip__help {
  display: block;
}
